html {
  height: 100%;
  background: radial-gradient(circle, #fff, #cec);
}

#container {
  height: 500px;
  width: 650px;
  background-color: #9DD2EE;
  margin: 160px auto;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 2px 2px 0px 1px #00BBCC;
  -moz-box-shadow: 2px 2px 0px 1px #00BBCC;
  -webkit-box-shadow: 2px 2px 0px 1px #00BBCC;
  /* [horizontal offset] [vertical offset] [blur radius] [optional spread radius] */
  position: relative;
  overflow: hidden;
}

#score {
  background-color: #F1FF92;
  color: #888E5F;
  padding: 9px;
  position: absolute;
  top: 25px;
  left: 590px;
  border-radius: 8px;
  box-shadow: 2px 2px 0px 0px #DDDD11;
  -moz-box-shadow: 2px 2px 0px 0px #DDDD11;
  -webkit-box-shadow: 2px 2px 0px 0px #DDDD11;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

#window {
  width: 600px;
  height: 320px;
  margin: 10px auto 20px auto;
  background-color: white;
  border-color: #66D2EE;
  border-radius: 20px;
  border-width: 5px;
  border-style: double;
  font-size: 95px;
  text-align: center;
  font-family: monospace, sans-serif;
  padding-top: 40px;
  color: black;
  letter-spacing: 5px;
  line-height: 105px;
  position: relative;
  overflow: hidden;
}

#instruction {
  width: 430px;
  height: 50px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

#startReset {
  width: 50px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: run-in;
}

#startReset:hover {
  background-color: #88AAEE;
}

#counter {
  width: 90px;
  padding: 5px;
  padding-bottom: 0px;
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: rgba(140, 150, 220, 0.6);
  border-radius: 8px;
  font-family: sans-serif;
  /* visibility: hidden; */
  display: none;
}

.heart{
  width: 20px;
  height: auto;
  margin: 5px;
  line-height: 10px;
}

.fruit{
  display: none;
  position: absolute;
}

.ui-effects-explode {
  margin : 0
}
